# You need to create a .env file and to add you api key
# In the files, the variable is "GEMINI_API_KEY" because I used a gemini api key
# If you change the name of the variable here, you need to change it in the others files too
# DONT'T FORGET TO ADD HTE .env FILE IN THE .gitignore
GEMINI_API_KEY=... 